html,
body,
div,
canvas,
ul {
	margin: 0;
	padding: 0;
}

button {
	margin: 2px 10px 2px 10px;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

.lastLI::after {
	content: "1 ";
	display: block;
	width: 30px;
	height: 30px;
	background: red;
	padding: 3px;
	margin-right: 5px;
	color: white;
	font-size: 22px;
}

.center-screen {
	background-color: #FFFFFF;
	display: none;
	/*border-style: outset;*/
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.center2 {
	visibility: hidden;
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 45%;
	position: relative;
	z-index: 11;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 3;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 45%;
	position: relative;
	transition: all 500ms ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup .content {
	overflow: auto;
}

.vertical-menu {
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 2;
	position: fixed;
	margin: 0px;
	left: 0px;
	top: 50%;
	transform: translate(0, -50%);
}

.vertical-menu a {
	text-align: center;
	background-color: transparent;
	/* Grey background color */
	color: black;
	/* Black text color */
	display: block;
	/* Make the links appear below each other */
	padding: 5px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline from links */
}

.vertical-menu a:hover {
	background-color: transparent;
	/* Dark grey background on mouse-over */
}

.vertical-menu a.active {
	background-color: #4CAF50;
	/* Add a green color to the "active/current" link */
	color: white;
}

div.scrollmenu {
	z-index: 2;
	position: fixed;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: auto;
	white-space: nowrap;
	left: 50%;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, 0);
}

div.scrollmenu a {
	display: inline-block;
	background-color: transparent;
	/* Grey background color */
	color: black;
	/* Black text color */
	text-align: center;
	padding: 5px;
	vertical-align: middle;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: transparent;
}

div.scrollmenu a.active {
	background-color: #4CAF50;
	/* Add a green color to the "active/current" link */
	color: white;
}

.rotate-on-click {
	transform: scale(0.75);
	transition: transform 0.5s;
}

.rotate-on-click:active {
	transform: scale(0.75) rotate(30deg);
}

.big-vert {
	transform-origin: center left;
	transform: translate(0, -50%) scale(2.2, 2.2);
}

div.big-horiz {
	transform-origin: top center;
	transform: translate(-50%, 0) scale(1.8, 1.8);
}

ul {
	list-style-type: none;
	position: relative;
	margin: 5px auto;
	padding: 0px;
	z-index: 9;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	color: #000000;
	margin: 0px;
	background-color: #FFF;
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
}