* {
	font-family: Arial, Helvetica, sans-serif;
  }


header {
	position: absolute;
	background-color: #666;
	padding: 20px;
	text-align: center;
	font-size: 35px;
	color: white;
	left: 0;
	top: 0;
	width: 100%;
}

.toolbarSection {
	/*display: block;*/
	margin: 10px 0px 0px;
}

canvas#myCanvas {
	cursor: crosshair;
	position: absolute;
	left: 200px;
	top: 90px;
	outline: black 1px solid;
}

canvas#previewCanvas {
	width: 100%;
}

canvas#hisCanvas {
	width: 100%;
}

div#sidebar {
	position: absolute;
	left: 0;
	width: 170px;
	padding: 10px 10px;
	top: 80px;
	background-color: darkgrey;
}

input {
	width: 100%;
}
